<article>
  <h2>Experiencia</h2>
  <h3>Tutor de enseñanza Full-Stack</h3>
  <p>
    Tutor de enseñanza en el bootcamp de desarrollo Full Stack Henry. Guía a los
    estudiantes durante las primeras etapas del curso. Asistencia en la solución
    de ejercicios y promoción de la colaboración grupal a través del uso de pair
    programming.
  </p>
</article>

<style></style>
