---
import Layout from "../../layouts/Layout.astro";
import Banner from "./Banner/Banner.astro";
import Experience from "./Experience/Experience.astro";
---

<Layout title="edarcode">
  <main>
    <Banner />
    <Experience />
  </main>
</Layout>

<style>
  main {
    padding: var(--lg);
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
