---
import Layout from "../../layouts/Layout/Layout.astro";
---

<Layout title="Componentes">
  <main>
    <div>
      <h1>Componentes</h1>
      <p>Estamos trabajando en esta vista.</p>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: var(--lg);

    div {
      width: 100%;
      max-width: var(--mw-page);
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
