---
interface Props {
  href: string;
}

const { href } = Astro.props;
const { href: currentRoute } = Astro.url;
const isActive = currentRoute === href;
---

<a href={href} class={isActive ? "active" : ""}>
  <slot />
</a>

<style>
  a {
    color: inherit;
    padding: 0 var(--sm);
    border-radius: var(--sm);

    &:hover {
      color: var(--hover);
    }
  }

  .active {
    color: var(--primary);
  }
</style>
