---
import GoTo from "../../../components/hyperlinks/GoTo/GoTo.astro";
---

<section>
  <h2>Educación</h2>
  <p>
    Bootcamp 800 horas teórico-practica. <GoTo href="https://www.soyhenry.com"
      >Henry</GoTo
    >
  </p>
  <p>
    Simulación laboral en No-Country. <GoTo href="https://www.nocountry.tech"
      >No-Country</GoTo
    >
  </p>
  <p>
    Actualmente cursando el 6.º semestre de Ingeniería de Sistemas. <GoTo
      href="https://cecar.edu.co">Cecar</GoTo
    >
  </p>
  <p><p>Enfoque autodidacta en documentaciones oficiales.</p></p>
</section>

<style>
  section {
    p {
      a {
        color: var(--blue);
      }
    }
  }
</style>
