---
import GoTo from "../../../components/hyperlinks/GoTo/GoTo.astro";
import { PROJECTS } from "./projects";
---

<section>
  <h2>Proyectos</h2>
  <ul>
    {
      PROJECTS.map((item) => (
        <li>
          <article>
            <h3>{item.title}</h3>
            <p class="description">{item.description}</p>
            <p>TI: {item.tools}</p>
            {item.deploy && <GoTo href={item.deploy}>Sitio web.</GoTo>}
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    h2 {
    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: var(--lg);

      li {
        position: relative;
        list-style: none;
        max-width: 300px;

        article {
          display: grid;
          justify-items: start;
          gap: var(--md);

          .description {
          }

          a {
            padding: 0;
            color: var(--blue);
          }
        }
      }
    }
  }
</style>
