<article>
  <div>
    <h1>Edwin Ortiz</h1>
    <h2>Full Stack Developer</h2>
    <p>
      Creo en el trabajo duro y el compromiso. Siempre dispuesto a compartir
      conocimientos, aprender continuamente y crecer profesional y
      personalmente.
    </p>
  </div>
  <img src="/edarcode.webp" alt="edarcode" />
</article>

<style>
  article {
    display: flex;
    flex-wrap: wrap;

    div {
      max-width: 500px;

      h1 {
        color: var(--primary);
      }
    }

    img {
      width: 200px;
      border-radius: 50%;
    }
  }
</style>
