---
import Download from "../Download/Download.astro";
import Network from "../Network/Network.astro";
---

<article>
  <div class="me">
    <h1>Edwin Ortiz</h1>
    <h2>Full Stack Developer</h2>
    <p>
      Creo en el trabajo duro y el compromiso. Siempre dispuesto a compartir
      conocimientos, aprender continuamente y crecer profesional y
      personalmente.
    </p>
  </div>
  <img src="/edarcode.webp" alt="edarcode" />
  <div class="wrapper">
    <Download download="cv_edarcode" href="/cv.pdf">Currículum</Download>
    <Network />
  </div>
</article>

<style>
  article {
    padding: var(--lg);
    display: grid;
    justify-items: start;
    align-items: center;
    gap: var(--md);
    grid-template-columns: auto 1fr;

    .me {
      max-width: 500px;

      h1 {
        color: var(--primary);
      }
    }

    img {
      width: 200px;
      border-radius: 50%;
      grid-row: span 2;
    }

    .wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      article {
        margin-left: auto;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
</style>
